<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Home - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="../css/styles.css" rel="stylesheet" />
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbarFragment}"></nav>
<!-- Page header with logo and tagline-->
<header class="py-1 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">내가 쓴 댓글보기</h1>
        </div>
    </div>
</header>
<div class="container mt-4 scrollable-table" >
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead class="table-success" >
               >
        <tr>
            <th>책 제목</th>
            <th>내용</th>ß
            <th>댓글 작성일</th>
        </tr>
        </thead>
<!--        <tbody>-->
<!--        <tr th:each="reply : ${replies}">-->
<!--            <td th:text="${reply.bookReportEntity.title}">책 제목</td>-->
<!--            <td th:text="${reply.content}">내용</td>-->
<!--            <td th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd')}">작성일</td>-->
<!--        </tr>-->
<!--        </tbody>-->
    </table>
</div>

</body>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</html>
