<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="boogle-site"/>
    <meta name="author" content="boogle"/>
    <title>Boogle</title>
    <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbarFragment}"></nav>
<br/>
<div class="container">
    <form id="updateMemberInfoForm"
          class="form-signin" method="post" th:action="@{/mypage/memberInfo}" th:object="${memberRequestDTO}">
        <h2 class="form-signin-heading">회원정보수정</h2>

        <!-- 이름 필드와 에러 메시지 -->
        <p>
            <label for="name" class="sr-only">이름</label>
            <input type="text" th:field="*{name}" th:value="${#authentication.principal.name}" id="name" class="form-control" style="width: 30%" placeholder="name" required autofocus>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error" style="color: red;"></span>
        </p>

        <!-- 비밀번호 필드 -->
        <p>
            <label for="password" class="sr-only">비밀번호</label>
            <input type="password" th:field="*{password}" id="password" class="form-control" style="width: 30%" placeholder="비밀번호를 입력하세요." required autofocus>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error" style="color: red;"></span>

        </p>

        <!-- 이메일 필드와 에러 메시지 -->
        <p>
            <label for="email" class="sr-only">이메일</label>
            <input type="text" th:field="*{email}" th:value="${#authentication.principal.email}" id="email" class="form-control" style="width: 30%" placeholder="email" required autofocus>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  class="error" style="color: red;"></span>
        </p>

        <!-- 닉네임 필드와 에러 메시지 -->
        <p>
            <label for="nickname" class="sr-only">닉네임</label>
            <input type="text" th:field="*{nickname}" th:value="${#authentication.principal.nickname}" id="nickname" class="form-control" style="width: 30%" placeholder="nickname" required autofocus>
            <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="error" style="color: red;"></span>
        </p>

        <!-- 휴대폰 번호 필드와 에러 메시지 -->
        <p>
            <label for="phoneNumber" class="sr-only">휴대폰 번호</label>
            <input type="text" th:field="*{phoneNumber}" th:value="${#authentication.principal.phoneNumber}" id="phoneNumber" class="form-control" style="width: 30%" placeholder="phoneNumber">
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error" style="color: red;"></span>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">수정하기</button>

        <div th:if="${error}" style="color: red">
            <br/>
            <p th:text="${error}"></p>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("#updateMemberInfoForm").addEventListener("submit", function(e) {
            var password = document.getElementById("password").value;
            if (password === "") {
                alert("비밀번호를 입력해주세요.");
                e.preventDefault(); // 폼 제출 중단
            }
        });
    });
</script>

</body>
<footer style="position: fixed; bottom: 0; width: 100%; height: 60px; background-color: #f5f5f5;">
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</footer>
</html>