<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Boogle</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<script>
    function validateSearch() {
        // 선택된 검색 분야 값 가져오기
        var searchType = document.getElementById("searchType").value;

        // 검색 분야가 빈 문자열인 경우 알림 표시
        if (searchType === "") {
            alert("검색 분야를 설정해 주세요.");
            return false; // 검색 중단
        }

        // 검색 분야가 설정되었을 경우, 폼 제출
        return true;
    }

    document.addEventListener("DOMContentLoaded", function () {
        // 현재 URL 구문 분석
        var urlParams = new URLSearchParams(window.location.search);

        // 'searchWord' 매개변수의 값 가져오기
        var searchWordValue = urlParams.get('searchWord');

        // 'searchType' 매개변수의 값 가져오기
        var searchTypeValue = urlParams.get('searchType');

        // 'searchWord' 매개변수가 존재하면 검색 입력란의 초기 값을 설정
        if (searchWordValue !== null) {
            document.getElementById('searchInput').value = searchWordValue;
        }

        // 'searchType' 매개변수가 존재하면 검색 타입 선택란의 초기 값을 설정
        if (searchTypeValue !== null) {
            document.getElementById('searchType').value = searchTypeValue;
        }

        let booksCurrentPage = parseInt(document.getElementById('currentPage').value);
        let booksTotalPages = parseInt(document.getElementById('totalPages').value);

        function updateURL(page, currentPath) {
            var currentParams = new URLSearchParams(window.location.search);
            currentParams.set('page', page);
            var newUrl = currentPath + '?' + currentParams.toString();
            window.location.href = newUrl;
        }

        let firstPageLink = document.getElementById('firstPageLink');
        let previousPageLink = document.getElementById('previousPageLink');
        let nextPageLink = document.getElementById('nextPageLink');
        let lastPageLink = document.getElementById('lastPageLink');

        if (firstPageLink) {
            firstPageLink.addEventListener('click', function () {
                updateURL(0, window.location.pathname);
            });
        }

        if (previousPageLink) {
            previousPageLink.addEventListener('click', function () {
                updateURL(booksCurrentPage - 1, window.location.pathname);
            });
        }

        if (nextPageLink) {
            nextPageLink.addEventListener('click', function () {
                updateURL(booksCurrentPage + 1, window.location.pathname);
            });
        }

        if (lastPageLink) {
            lastPageLink.addEventListener('click', function () {
                updateURL(booksTotalPages - 1, window.location.pathname);
            });
        }

        for (var i = 0; i < booksTotalPages; i++) {
            var pageLink = document.getElementById('pageLink' + i);
            if (pageLink) {
                if (i < Math.max(0, booksCurrentPage - 5) || i > Math.min(booksTotalPages, booksCurrentPage + 5)) {
                    pageLink.style.display = 'none';
                } else {
                    pageLink.style.display = 'inline-block';
                    pageLink.addEventListener('click', function () {
                        var page = this.textContent - 1;
                        updateURL(page, window.location.pathname);
                    });
                }
            }
        }
    });
</script>
<body>
<nav th:replace="~{fragments/navbar :: navbarFragment}"></nav>
<header class="py-1 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Boogle!</h1>
            <img src="images/logo.png" style="width: 18%; margin: 0 auto; display: block;">
            <p class="lead mb-0 mt-3">Boogle can make your life Better!</p>
        </div>
    </div>
</header>
<div class="container mt-3">
    <div class="row justify-content-end">
        <div class="col-auto">
            <form th:action="@{/books}" method="get" onsubmit="return validateSearch();">
                <div class="input-group">
                    <select name="searchType" id="searchType">
                        <option value="">선택</option>
                        <option value="title">제목</option>
                        <option value="author">저자</option>
                        <option value="publisher">출판사</option>
                    </select>
                    <input type="text" id="searchInput" placeholder=" 검색어를 입력해 주세요." name="searchWord">
                    <button id="searchButton" type="submit" class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4" >
        <div class="col-4" th:each="book, iterStat : ${books}">
            <div class="card mb-4">
                <div class="row g-0">
                    <div class="col-md-6">
                        <a th:href="@{/book(id=${book.id})}">
                            <img class="card-img-top" th:src="${book.thumbnailUrl}" alt="..." style="max-width: 100%; max-height: 100%; width: 100%; height: 100%; object-fit: cover;" />
                        </a>
                    </div>
                    <div class="col-md-6 px-2 py-3 d-flex flex-column justify-content-center">
                        <div class="text-center mb-2">
                            <h2 class="card-title h5 mb-3" th:text="${book.title}"></h2>
                            <p class="card-text" th:text="${book.author}"></p>
                        </div>
                        <div class="text-center mb-3">
                            <div class="small text-muted" th:text="'출판일: '+ ${#temporals.format(book.publishDate, 'yyyy년 MM월 dd일')}"></div>
                        </div>
                        <div class="text-center">
                            <a th:href="@{/book(id=${book.id})}" class="btn btn-primary" href="#!">상세 정보 →</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3개의 열마다 새로운 행을 시작하기 위해 추가 -->
            <div th:if="${iterStat.count % 3 == 2}" class="w-100"></div>
        </div>
    </div>
    <!-- 페이지 번호를 표시하는 부분 -->
    <div class="row">
        <div class="col-12">
            <hr class="my-3 center"/>
            <ul class="pagination justify-content-center">
                <input type="hidden" id="currentPage" name="currentPage" th:value="${books.number}">
                <input type="hidden" id="totalPages" name="totalPages" th:value="${books.totalPages}">
                <li th:if="${books.hasPrevious()}" class="page-item">
                    <a id="firstPageLink" class="page-link">처음</a>
                </li>
                <li th:if="${books.hasPrevious()}" class="page-item">
                    <a id="previousPageLink" class="page-link">이전</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, books.totalPages - 1)}"
                    th:classappend="(${i} == ${books.number}) ? 'active' : '' ">
                    <a th:id="'pageLink'+${i}" class="page-link" th:text="${i + 1}"></a>
                </li>
                <li th:if="${books.hasNext()}" class="page-item">
                    <a id="nextPageLink" class="page-link">다음</a>
                </li>
                <li th:if="${books.hasNext()}" class="page-item">
                    <a id="lastPageLink" class="page-link">마지막</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>