<!DOCTYPE HTML>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<body>
<!-- fragment navigation bar를 정의합니다. -->
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/book-reports">Boogle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
<!--                <li class="nav-item"><span sec:authorize="isAuthenticated()" sec:authentication="name">님, 안녕하세요</li>-->
                <li class="nav-item"><a class="nav-link" href="/books" th:href="@{/books}">도서</a></li>
                <li class="nav-item"><a class="nav-link" href="/book-reports" th:href="@{/book-reports}">독후감</a></li>
<!--                <li class="nav-item"><a class="nav-link" href="/mypage" sec:authorize="hasAnyRole('ROLE_USER')" th:href="@{/mypage}">마이페이지</a></li>-->

                <div class="vr" style="color: white; margin: 10px; width: 2px;"></div>

                <li class="nav-item"><a class="nav-link" aria-current="page" href="/books" sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/books}">도서 관리</a></li>
                <li class="nav-item"><a class="nav-link" href="/book-reports" sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/book-reports}">독후감 관리</a></li></th:block>

                <div class="vr" style="color: white; margin: 10px; width: 2px;" sec:authorize="hasAnyRole('ROLE_ADMIN')"></div>

                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>