<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <!-- 필요한 스타일시트 및 스크립트 로드 -->
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{post/mainPage}" th:object="${books}">
  </form>
  <div>
    <input type="text" id="searchInput" placeholder="도서 검색">
    <button id="searchButton"><i class="fa fa-search"></i></button>
  </div>
  <div th:each="book : ${books}">
    <div class="book-box">
      <img th:src="${book.thumbnailUrl}" alt="Book Cover">
      <h3 th:text="${book.bookTitle}"></h3>
      <p th:text="${book.author}"></p>
      <p th:text="${book.publisher}"></p>
      <p th:text="${book.publishDate}"></p>
      <p th:text="${book.salesPrice}"></p>
    </div>
  </div>
</div>
</body>
</html>
